<!--我的企业号头部-->
<div class="xcy-xxComminHerder">
  <div class="xcy-xxW clearfix">
    <span class="icon iconfont" ng-click="goto('#/')">&#xe611;</span>
    <span class="title">开通我的企业号</span>
  </div>
</div>

<!--我的企业号主体部分-->
<div class="xcy-xxopenUpEnterPrise">
  <div class="xcy-xxW">
    <div class="xcy-xxopenUpEnterPrise-top" ng-click="goto('#/openUp/serveNo')">
      <span class="icon iconfont">&#xe61b;</span>
      <span>开通我的服务号</span>
    </div>
    <div class="xcy-xxopenUpEnterPrise-bottom">
      <span class="icon iconfont">&#xe610;</span>
      <span>开通我的订阅号</span>
    </div>
  </div>
</div>
