<!--我的服务号头部-->
<div class="xcy-xxComminHerder">
  <div class="xcy-xxW clearfix">
    <span class="icon iconfont" ng-click="goto('#/')">&#xe611;</span>
    <span class="title">开通我的服务号</span>
  </div>
</div>

<!--我的服务号主体部分-->
<div class="xcy-xxopenUpServeno">
  <div class="xcy-xxW">
    <!-- 公用top部分-->
    <div class="xcy-xxopenUpServeno-top">
      <!-- 封面-->
      <div class="xcy-xxopenUpServeno-cover">
        <img src="//hbimg.b0.upaiyun.com/4c27d555dbc7e9371022ba889cf97b92738503e66c46e-G2KZ4J_fw658" alt=""/>
      </div>
      <!-- 姓名和服务号部分-->
      <div class="nameAndServeno">
        <label for="#xcy-xxopenUpServenoName">
          <span>姓名:</span>
          <input id="#xcy-xxopenUpServenoName" type="text" placeholder="企业的存活理念"/>
        </label>
        <label for="#xcy-xxopenUpServenoServer">
          <span>服务号:</span>
          <input id="#xcy-xxopenUpServenoServer" type="text" placeholder="企业的存活理念"/>
        </label>
      </div>
      <!-- 服务号间接部分-->
      <div class="introductionServe">
        <h3>服务号简介:</h3>
        <textarea name="" id="" cols="0" rows="0">

        </textarea>
      </div>
    </div>
    <!-- 非公用营业部分-->
    <div class="xcy-xxopenUpServeno-bottom">
      <div class="xcy-xxW">
        <!-- 营业执照-->
        <div class="xcy-xxopenUpServeno-bottom-open clearfix">
          <div class="xcy-xxopenUpServeno-bottom-open-left f_l">营业执照:</div>
          <div class="xcy-xxopenUpServeno-bottom-open-right f_l">
            <img src="" alt=""/>
          </div>
        </div>
        <!-- 申请人省份证 -->
        <div class="xcy-xxopenUpServeno-bottom-Applicant clearfix">
          <div class="xcy-xxopenUpServeno-bottom-open-left f_l">
            <p>申请人</p>

            <p>身份证:</p>
          </div>
          <div class="xcy-xxopenUpServeno-bottom-open-center f_l">
            <img src="" alt=""/>
          </div>
          <div class="xcy-xxopenUpServeno-bottom-open-right f_l">
            <img src="" alt=""/>
          </div>
        </div>
        <!-- 公司联系人部分-->
        <div class="Contact">
          <div class="xcy-xxW">
            <label for="#xcy-Contactpeople">
              <span>公司联系人:</span>
              <input id="#xcy-Contactpeople" type="text" placeholder="小熊"/>
            </label>
            <label for="#xcy-ContactWeb">
              <span>公司网址:</span>
              <input id="#xcy-ContactWeb" type="text" placeholder="dev.xiaoquan@.tv"/>
            </label>
            <label for="#xcy-ContactAddress">
              <span>公司联系地址:</span>
              <input id="#xcy-ContactAddress" type="text" placeholder="三元桥无限空间"/>
            </label>
          </div>
        </div>
        <!-- 提交申请和已经阅读消息-->
        <div class="submit">
          <input type="submit" value="提交申请"/>
          <br/>
          <input type="radio"/>
          <span>我已阅读并同意《服务使用条款》</span>
        </div>
      </div>
    </div>
  </div>

</div>



