<!--管理我的服务号头部-->
<div class="xcy-xxComminHerder">
  <div class="xcy-xxW clearfix">
    <span class="icon iconfont" ng-click="goto('#/')">&#xe611;</span>
    <span class="title">服务号名称</span>
  </div>
</div>
<!--管理我的服务号内容部分-->
<div class="xxmanageServe-content">
  <div class="xcy-xxW clearfix">
    <div class="xxmanageServe-main">
      <div class="xxmanageServe-main-top clearfix">
        <span>×</span>
      </div>
      <div class="xxmanageServe-main-center clearfix">
        <div class="xxmanageServe-main-center-left f_l">
          <img
            src="https://mmbiz.qlogo.cn/mmbiz/3bWKCNXibtqu1SEVlnp1NCd0F4J4jxzcq7fYUwOhLo4ADNrlLaH21WeexXoBLgszibw466QMouCL3GicibcYDxWOTQ/0?wx_fmt=jpeg"
            alt=""/>
        </div>
        <div class="xxmanageServe-main-center-right">
          <span>我这里有我这里有我这里有我这里有我这里有</span>
        </div>
      </div>
      <div class="xxmanageServe-main-bottom clearfix">
        <span class="f_r">栏目管理</span>
        <span class="f_r"><i class="icon iconfont">&#xe60d;</i> 编辑</span>
      </div>
    </div>
  </div>
</div>
<div class="xxmanageServe-content">
  <div class="xcy-xxW clearfix">
    <div class="xxmanageServe-main">
      <div class="xxmanageServe-main-top clearfix">
        <span>×</span>
      </div>
      <div class="xxmanageServe-main-center clearfix">
        <div class="xxmanageServe-main-center-left f_l">
          <img
            src="https://mmbiz.qlogo.cn/mmbiz/3bWKCNXibtqu1SEVlnp1NCd0F4J4jxzcq7fYUwOhLo4ADNrlLaH21WeexXoBLgszibw466QMouCL3GicibcYDxWOTQ/0?wx_fmt=jpeg"
            alt=""/>
        </div>
        <div class="xxmanageServe-main-center-right">
          <span>我这里有我这里有我这里有我这里有我这里有</span>
        </div>
      </div>
      <div class="xxmanageServe-main-bottom clearfix">
        <span class="f_r">栏目管理</span>
        <span class="f_r"><i class="icon iconfont">&#xe60d;</i> 编辑</span>
      </div>
    </div>
  </div>
</div>
<!--管理我的服务号底部-->
<div class="xxmanageServe-footer">
  <div class="xcy-xxW clearfix">
    <div class="xxmanageServe-footer-navLeft f_l">
      <div class="navLeftTop icon iconfont">&#xe61b;</div>
      <div class="navLeftBottom">成员管理</div>
    </div>
    <div class="xxmanageServe-footer-navCenter f_l">
      <div class="navLeftTop icon iconfont">&#xe61c;</div>
      <div class="navLeftBottom">会员卡管理</div>
    </div>
    <div class="xxmanageServe-footer-navRight f_l">
      <div class="navLeftTop icon iconfont">&#xe60d;</div>
      <div class="navLeftBottom">新建话题</div>
    </div>
  </div>
</div>

