<!--管理栏目头部开始-->
<div class="xcy-managecolumnHeader">
  <div class="xcy-xxW clearfix">
    <span class="icon iconfont" ng-click="goto('#/')">&#xe611;</span>
    <div>
      <img src="" alt=""/>
    </div>
    <span class="title">频道名称</span>
  </div>
</div>
<!--管理栏目头部结束-->


<!--栏目内容部分开始-->
<div class="xcy-managecolumn-content">
  <div class="xcy-xxW clearfix">
    <div class="xxmanageServe-main">
      <div class="xxmanageServe-main-top clearfix">
        <span>×</span>
      </div>
      <div class="xxmanageServe-main-center clearfix">
        <div class="xxmanageServe-main-center-left f_l">
          <img
            src="https://mmbiz.qlogo.cn/mmbiz/3bWKCNXibtqu1SEVlnp1NCd0F4J4jxzcq7fYUwOhLo4ADNrlLaH21WeexXoBLgszibw466QMouCL3GicibcYDxWOTQ/0?wx_fmt=jpeg"
            alt=""/>
        </div>
        <div class="xxmanageServe-main-center-right">
          <span>我这里有我这里有我这里有我这里有我这里有</span>
        </div>
      </div>
      <div class="xxmanageServe-main-bottom clearfix">
        <span class="f_r"><i class="icon iconfont">&#xe60d;</i> 编辑</span>
        <span class="f_r">结束栏目</span>
      </div>
    </div>
  </div>
</div>
<div class="xcy-managecolumn-content">
  <div class="xcy-xxW clearfix">
    <div class="xxmanageServe-main">
      <div class="xxmanageServe-main-top clearfix">
        <span>×</span>
      </div>
      <div class="xxmanageServe-main-center clearfix">
        <div class="xxmanageServe-main-center-left f_l">
          <img
            src="https://mmbiz.qlogo.cn/mmbiz/3bWKCNXibtqu1SEVlnp1NCd0F4J4jxzcq7fYUwOhLo4ADNrlLaH21WeexXoBLgszibw466QMouCL3GicibcYDxWOTQ/0?wx_fmt=jpeg"
            alt=""/>
        </div>
        <div class="xxmanageServe-main-center-right">
          <span>我这里有我这里有我这里有我这里有我这里有</span>
        </div>
      </div>
      <div class="xxmanageServe-main-bottom clearfix">
        <span class="f_r"><i class="icon iconfont">&#xe60d;</i> 编辑</span>
        <span class="f_r">结束栏目</span>
      </div>
    </div>
  </div>
</div>
<!--栏目内容部分结束-->
