<!--管理我的订阅号头部-->
<div class="xcy-xxManaSubscribeHeader">
    <div class="xcy-xxW clearfix">
      <span class="icon iconfont" ng-click="goto('#/')">&#xe611;</span>
      <span class="title">订阅号名称</span>
    </div>
</div>

<!--内容区块开始-->
<div class="xcy-xxManaSubscribeContent">
  <div class="xcy-xxW">
    <!-- 草稿-->
    <div class="draft">
      <h3>草稿</h3>

      <div class="draft-content">
        <div class="draft-content-top clearfix">
          <span>×</span>
        </div>
        <div class="draft-content-center clearfix">
          <div class="draft-content-center-left">
            <img
              src="https://mmbiz.qlogo.cn/mmbiz/3bWKCNXibtqu1SEVlnp1NCd0F4J4jxzcq7fYUwOhLo4ADNrlLaH21WeexXoBLgszibw466QMouCL3GicibcYDxWOTQ/0?wx_fmt=jpeg"
              alt=""/>
          </div>
          <div class="draft-content-center-right">
            我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的的我的我的(45字)
          </div>
        </div>
        <div class="draft-content-bottom clearfix">
          <div class="draft-content-bottom-setCrowdfunding f_r">发起众筹</div>
          <div class="draft-content-bottom-EDIT f_r"><i class="icon iconfont">&#xe60d;</i>编辑</div>
        </div>
      </div>
    </div>
    <!-- 众筹中-->
    <div class="Crowdfunding">
      <h3>众筹中</h3>

      <div class="draft-content">
        <div class="draft-content-top clearfix">
          <span></span>
        </div>
        <div class="draft-content-center clearfix">
          <div class="draft-content-center-left">
            <img
              src="https://mmbiz.qlogo.cn/mmbiz/3bWKCNXibtqu1SEVlnp1NCd0F4J4jxzcq7fYUwOhLo4ADNrlLaH21WeexXoBLgszibw466QMouCL3GicibcYDxWOTQ/0?wx_fmt=jpeg"
              alt=""/>
          </div>
          <div class="draft-content-center-right">
            我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的的我的我的(45字)
          </div>
        </div>
        <div class="draft-content-bottom clearfix">
          <div class="f_l icon iconfont">&#xe609;</div>
          <div class="draft-content-bottom-setCrowdfunding f_r">发起众筹</div>
          <div class="draft-content-bottom-EDIT f_r">128人想看</div>
        </div>
      </div>
    </div>
    <!-- 已接单-->
    <div class="orderReceived">
      <h3>已接单</h3>

      <div class="draft-content">
        <div class="draft-content-top clearfix">
          <span></span>
        </div>
        <div class="draft-content-center clearfix">
          <div class="draft-content-center-left">
            <img
              src="https://mmbiz.qlogo.cn/mmbiz/3bWKCNXibtqu1SEVlnp1NCd0F4J4jxzcq7fYUwOhLo4ADNrlLaH21WeexXoBLgszibw466QMouCL3GicibcYDxWOTQ/0?wx_fmt=jpeg"
              alt=""/>
          </div>
          <div class="draft-content-center-right">
            我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的的我的我的(45字)
          </div>
        </div>
      </div>
    </div>
    <!-- 直播中-->
    <div class="Living">
      <h3>直播中</h3>

      <div class="draft-content">
        <div class="draft-content-top clearfix">
          <span></span>
        </div>
        <div class="draft-content-center clearfix">
          <div class="draft-content-center-left">
            <img
              src="https://mmbiz.qlogo.cn/mmbiz/3bWKCNXibtqu1SEVlnp1NCd0F4J4jxzcq7fYUwOhLo4ADNrlLaH21WeexXoBLgszibw466QMouCL3GicibcYDxWOTQ/0?wx_fmt=jpeg"
              alt=""/>
          </div>
          <div class="draft-content-center-right">
            我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的的我的我的(45字)
          </div>
        </div>
      </div>
    </div>
    <!-- 已结束-->
    <div class="ended">
      <h3>已结束</h3>

      <div class="draft-content">
        <div class="draft-content-top clearfix">
          <span></span>
        </div>
        <div class="draft-content-center clearfix">
          <div class="draft-content-center-left">
            <img
              src="https://mmbiz.qlogo.cn/mmbiz/3bWKCNXibtqu1SEVlnp1NCd0F4J4jxzcq7fYUwOhLo4ADNrlLaH21WeexXoBLgszibw466QMouCL3GicibcYDxWOTQ/0?wx_fmt=jpeg"
              alt=""/>
          </div>
          <div class="draft-content-center-right">
            我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的我的的我的我的(45字)
          </div>
        </div>
        <div class="xcy-xxColumn1-columnName-center">
          <span>4小时前</span>
          <span>1366看过</span>
          <span><i class="icon iconfont">&#xe616;</i> <font>560</font></span>
          <span><i class="icon iconfont">&#xe619;</i> <font>10</font></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--内容区块结束-->

<!--底部-->
<div class="xcy-xxManaSubscribeFooter">
  <div class="xcy-xxPageFooter">
    <div class="xcy-xxW clearfix">
      <div>
        <div class="icon iconfont">&#xe610;</div>
        <div class="content">编辑订阅号</div>
      </div>
      <div>
        <div class="icon iconfont">&#xe61b;</div>
        <div class="content">成员管理</div>
      </div>
      <div>
        <div class="icon iconfont">&#xe61c;</div>
        <div class="content">会员卡管理</div>
      </div>
      <div ng-click="goto('#/manage/manageSubscribe')">
        <div class="icon iconfont">&#xe60d;</div>
        <div class="content">新建话题</div>
      </div>
    </div>
  </div>
</div>

