<!--新建话题的头部开始-->
<div class="xcy-newBuildTopic-header">
  <div class="xcy-xxW clearfix">
    <span ng-click="goto('#/')" class="icon iconfont f_l">&#xe611;</span>
    <span class="f_r">保存</span>
    <span class="title">新建话题</span>
  </div>
</div>
<!--新建话题的头部结束-->

<!--新建话题的内容部分开始-->
<div class="xcy-newBuildTopic-content">
  <!--tab栏部分-->
  <div class="xcy-newBuildTopic-nav">
    <div class="xcy-xxW clearfix">
      <ul>
        <li class="f_l">
          <span>基本信息</span>
          <i></i>
        </li>
        <li class="f_r">
          <span>开播信息</span>
          <i></i>
        </li>
      </ul>
    </div>
  </div>
  <!-- 内容部分开始-->
  <div class="xcy-newBuildTopic-cover">
    <div class="xcy-xxW clearfix">
      <!-- 封面区-->
      <div class="xcy-newBuildTopic-container">
        <div class="uploadCover">
          <p class="icon iconfont">&#xe614;</p>

          <p>上传封面</p>
        </div>
        <div class="talkId">
          话题ID:<span>8754</span>
        </div>
      </div>
      <!-- 描述区-->
      <div class="xcy-newBuildDescribe">
        <h3>话题描述</h3>
        <textarea name="" class="content"></textarea>

        <div class="example">
          <p>例如:</p>

          <p>我们连续创业者xxx,关于创业中遇到的困惑、躺过的坑，一起聊聊!</p>
        </div>
      </div>
      <!-- 话题区-->
      <div class="xcy-newBuildTalk">
        <textarea name="" class="content">话题简介，详细描述你的话题!</textarea>

        <div class="example">
          话题来源:<span>"昵称"</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 内容部分结束-->
</div>
<!--新建话题的内容部分结束-->

<!--footer部分开始-->
<div class="xcy-newBuildTopic-footer">
  <div class="xcy-xxW">
    <div>
      <i class="icon iconfont f_r">&#xe61d;</i>
      <span class="f_r">下一页</span>
    </div>
  </div>
</div>
<!--footer部分结束-->

