<!--栏目1头部-->
<div class="xcy-xxColumn1">
  <div class="xcy-xxW clearfix">
    <span ng-click="goto('#/')" class="icon iconfont f_l">&#xe611;</span>
    <span><img src="https://sf-sponsor.b0.upaiyun.com/c91346e34c822e3c733dae8ed501783d.jpg" alt=""/></span>
    <span class="icon iconfont f_r">&#xe60c;</span>
  </div>
</div>

<!--栏目1内容部分-->
<div class="xcy-xxColumn1-content">
  <div class="xcy-xxW">
    <div class="xcy-xxColumn1-content-top">
      <div class="xcy-xxColumn1-content-topTo1">
        <span class="icon iconfont">&#xe612;</span>
        <span>已关注</span>
      </div>
      <div class="xcy-xxColumn1-content-topTo2">频道名称</div>
      <div class="xcy-xxColumn1-content-topTo3">1万关注</div>
    </div>
  </div>
</div>
<!--栏目名称-->
<div class="xcy-xxColumn1-columnName clearfix">
  <div class="xcy-xxW">
    <div class="xcy-xxColumn1-columnName-top clearfix">
      <div class="xcy-xxColumn1-columnName-top-left f_l">
        <img src="https://sf-sponsor.b0.upaiyun.com/c91346e34c822e3c733dae8ed501783d.jpg" alt=""/>
      </div>
      <div class="xcy-xxColumn1-columnName-top-center f_l">
        <span>栏目名称(20字)</span>
      </div>
      <div class="xcy-xxColumn1-columnName-top-bottom f_r">
        <span>观看</span>
      </div>
    </div>
    <div class="xcy-xxColumn1-columnName-center">
      <span>4小时前</span>
      <span>1366看过</span>
      <span><i class="icon iconfont">&#xe616;</i> <font>560</font></span>
      <span><i class="icon iconfont">&#xe619;</i> <font>10</font></span>
    </div>
    <div class="xcy-xxColumn1-columnName-bottom">
      <span>节目1名称</span>
      <span>节目2名称</span>
      <span>节目3名称</span>
      <span class="icon iconfont">&#xe61d;</span>
    </div>
    <!-- 显示或影藏的栏目部分-->
    <div class="xcy-xxColumn1-columnName-bottom-toShow">
      <span>片段一</span>
      <span>片段二</span>
      <span>片段三</span>
    </div>
  </div>
</div>

<!--未直播部分开始-->
<div class="xcy-notLive">
  <div class="xcy-xxW">
    <div class="title">
      <span>未直播</span>
      <i></i>
      <s></s>
    </div>
  </div>
</div>
<!--未直播部分结束-->

<!--未直播的栏目页面-->
<div class="xcy-xxNoColumn1-columnName clearfix">
  <div class="xcy-xxW">
    <div class="xcy-xxColumn1-columnName-top clearfix">
      <div class="xcy-xxColumn1-columnName-top-left f_l">
        <img src="https://sf-sponsor.b0.upaiyun.com/c91346e34c822e3c733dae8ed501783d.jpg" alt=""/>
      </div>
      <div class="xcy-xxColumn1-columnName-top-center f_l">
        <span>栏目名称(20字)</span>
      </div>
      <div class="xcy-xxColumn1-columnName-top-bottom f_r">
        <span>观看</span>
      </div>
    </div>
    <div class="xcy-xxColumn1-columnName-center">
      <span>4小时前</span>
      <span>1366看过</span>
      <span><i class="icon iconfont">&#xe616;</i> <font>560</font></span>
      <span><i class="icon iconfont">&#xe619;</i> <font>10</font></span>
    </div>
    <div class="xcy-xxColumn1-columnName-bottom">
      <span>节目1名称</span>
      <span>节目2名称</span>
      <span>节目3名称</span>
      <span class="icon iconfont">&#xe61d;</span>
    </div>
    <!-- 显示或影藏的栏目部分-->
  </div>
</div>


<!--栏目的腿部-->
<div class="xcy-xxColumn1-footer clearfix">
  <div class="xcy-xxW clearfix">
    <ul class="clearfix f_l">
      <li><a href="">频道名称1</a></li>
      <li><a href="">频道名称2</a></li>
      <li><a href="" class="last">频道名称3</a></li>
    </ul>
    <span class="icon iconfont f_r">&#xe615;</span>
  </div>
</div>
