<!--首页部分开始-->
<!--头部-->
<div class="xcy-xxPageHeader">
  <div class="xcy-xxW clearfix">
    <ul class="clearfix  f_l">
      <li><a href="" ng-click="goto('#/channel/columnl')">关注</a></li>
      <li><a href="" class="center">直播</a></li>
      <li><a href="" ng-click="goto('#/openUp/Enterprise')">订阅</a></li>
    </ul>
    <span class="icon iconfont f_r">&#xe617;</span>
  </div>
</div>
<!--内容部分-->
<!--封面介绍-->
<div class="xcy-xxPagecontent">
  <div class="xcy-xxW clearfix">
    <div class="xcy-xxPagecontent-introduce clearfix">
      <div class="xcy-xxPagecontent-introduce-L">
        <img src="" alt=""/>
      </div>
      <div class="xcy-xxPagecontent-introduce-r">
        <p>北京驴妈妈</p>

        <p>服务号简介服务号简介服务号简介服务号简介服务号简介服务号简介服务号简介服务号简介</p>
      </div>
    </div>
    <div class="xcy-xxPagecontent-introduce clearfix">
      <div class="xcy-xxPagecontent-introduce-L">
        <img src="" alt=""/>
      </div>
      <div class="xcy-xxPagecontent-introduce-r">
        <p>北京驴妈妈</p>

        <p>服务号简介服务号简介服务号简介服务号简介服务号简介服务号简介服务号简介服务号简介</p>
      </div>
    </div>
  </div>
</div>
<!--我的订阅号-->
<div class="xcy-xxPageMyDYH">
  <div class="xcy-xxW clearfix">
    <div class="xcy-xxPageMyDYH-introduce clearfix">
      <div class="xcy-xxPageMyDYH-introduce-L">
        <span class="icon iconfont">&#xe610;</span>
      </div>
      <div class="xcy-xxPageMyDYH-introduce-r">
        <div class="xcy-xxPageMyDYH-introduce-r-top">
          <span>我的订阅号</span>
          <span class="icon iconfont f_r">&#xe61a;</span>
        </div>
        <div class="xcy-xxPageMyDYH-introduce-r-bottom">
          <!-- 点击显示影藏部分-->
          <div class="xcy-xxPageMyDYH-introduce-r-bottom-introduce clearfix">
            <div class="xcy-xxPageMyDYH-introduce-r-bottom-introduce-L clearfix">
              <img src="" alt=""/>
            </div>
            <div class="xcy-xxPageMyDYH-introduce-r-bottom-introduce-r clearfix">
              <p>订阅号名称</p>

              <p>服务号简介服务号简介服务号简介服务号简介服务号简介服务号简介服务号简介服务号简介</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--底部-->
<div class="xcy-xxPageFooter">
  <div class="xcy-xxW clearfix">
    <div>
      <div class="icon iconfont">&#xe613;</div>
      <div class="content">关注</div>
    </div>
    <div>
      <div class="icon iconfont">&#xe61e;</div>
      <div class="content">发现</div>
    </div>
    <div>
      <div class="icon iconfont">&#xe60b;</div>
      <div class="content">好友</div>
    </div>
    <div>
      <div class="icon iconfont">&#xe602;</div>
      <div class="content">我</div>
    </div>
  </div>
</div>

